{% extends "base.html" %}
{% block title %}Edit Serveur{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="yellow">
            <form method="POST" action="{{ url_for('films_update') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID Serveur</th>
                            <th>Nom Serveur</th>
                            <th>Nombre de Port</th>
                            <th>Nombre de U</th>
                            <th>Date de Configuration de Serveur</th>
                            <th>Description</th>
                            <th>Puissance</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_films_edit_html" value="{{ row.ID_Serveur }}"></td>
                            <td><input type = "text" name = "name_edit_intitule_films_html" value="{{ row.Nom_Serv }}"/></td>
                            <td><input type = "text" name = "name_edit_intitule_films_html" value="{{ row.Nombre_Port }}"/></td>
                            <td><input type = "text" name = "name_edit_intitule_films_html" value="{{ row.Nombre_U }}"/></td>
                            <td><input type = "text" name = "name_edit_intitule_films_html" value="{{ row.Date_Conf_Serv }}"/></td>
                            <td><input type = "text" name = "name_edit_intitule_films_html" value="{{ row.Description }}"/></td>
                            <td><input type = "text" name = "name_edit_intitule_films_html" value="{{ row.Puissance }}"/></td>
                            <td><input type = "hidden" name = "name_edit_intitule_films_html" value="{{ row.Date_Serveur }}"/></td>
                            <td><button class="btn btn-warning" type="submit">Update</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}