{% extends "base.html" %}
{% block title %} Afficher FILMS {% endblock %}
{% block body %}
    <div class="home">
        
        <form method="POST" action="">

        <div>
            {{ msgHtml }}
        </div>
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nom de serveur</th>
                    <th>Nombre de port</th>
                    <th>Nombre de U</th>
                    <th>Date de configuration du serveur</th>
                    <th>Description</th>
                    <th>Puissance</th>
                    <th>Date de la demande</th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.ID_Serveur }}</td>
                    <td>{{ row.Nom_Serv }}</td>
                    <td>{{ row.Nombre_Port}}</td>
                    <td>{{ row.Nombre_U}}</td>
                    <td>{{ row.Date_Conf_Serv}}</td>
                    <td>{{ row.Description}}</td>
                    <td>{{ row.Puissance}}</td>
                    <td>{{ row.Date_Serveur}}</td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Edit</a> </td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Delete</a> </td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Add</a> </td>
                </tr>
            {% endfor %}
        </table>
        </form>
        
    </div>
{% endblock %}